# OpenMRS
OPENMRS_DB_NAME=openmrs
OPENMRS_DB_USER=openmrs
OPENMRS_DB_PASSWORD=your_password_here
OPENMRS_USER=your_username_here
OPENMRS_PASSWORD=your_password_here
OPENMRS_JAVA_OPTS=

# MySQL
MYSQL_HOST=your_mysql_host
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_PUBLIC_PORT=3306

# Use if providing artifacts as volumes:
DISTRO_PATH=
OPENMRS_OWAS_PATH=
OPENMRS_MODULES_PATH=
OPENMRS_CONFIG_PATH=
BAHMNI_CONFIG_PATH=
BAHMNI_OBSCALCULATOR_PATH=

# Use if providing artifacts to Dockerfile:
BAHMNI_REPORTS_URL=
BAHMNIAPPS_URL=
IMPLEMENTER_INTERFACE_URL=
BAHMNI_ERP_CONNECT_WAR_URL=

# Data volumes:
EIP_HOME_PATH=
BAHMNI_HOME_PATH=
OPENMRS_CONFIG_CHECKSUMS_PATH=
MYSQL_DATADIR=
SQL_SCRIPTS_PATH=
BAHMNI_IMAGE_PATH=

# Timezone:
TIMEZONE=UTC

# Backup
BACKUP_FOLDER=openmrs-db-backup
BACKUP_PATH=./backups

# EIP SENAITE
EIP_DB_NAME_SENAITE=openmrs_eip_mgt_senaite
EIP_DB_USER_SENAITE=openmrs_eip_mgt_senaite
EIP_DB_PASSWORD_SENAITE=your_password_here

# EIP ODOO
EIP_DB_NAME_ODOO=openmrs_eip_mgt_odoo
EIP_DB_USER_ODOO=openmrs_eip_mgt_odoo
EIP_DB_PASSWORD_ODOO=your_password_here

# EIP KEYCLOAK
EIP_DB_NAME_KEYCLOAK=openmrs_eip_mgt_keycloak
EIP_DB_USER_KEYCLOAK=openmrs_eip_mgt_keycloak 
EIP_DB_PASSWORD_KEYCLOAK=your_password_here 